{% include 'head.html' %}
<footer class="footer-single" id="footer-main">
    <article class="about-me-single">
        <h2 class="about-me-single-title">Acerca de mí 📒</h2>
        <p>
            Soy un estudiante de Analisis y Desarrollo de Sistemas de Información en el Servicio
            Nacional de
            Aprendizaje (SENA), Colombia.
        </p>
        <p>
            Mas que admirar la tecnología, me gusta crearla; me gusta conocer nuevas maneras de dejar
            volar
            mi imaginación.
        </p>
    </article>

    <article class="about-me-single-social">
        <h2 class="about-me-single-social-title">Ponte en contacto conmigo</h2>
        <div class="footer-social-media-container">
            <a href="https://twitter.com/Andr3yg" class="link-icon link-icon--single" target="_blank" aria-label="Contactar por medio de Twitter">
                <i class="fab fa-twitter social-media-icon social-media-icon--single">
                    
                </i>
            </a>
            <a href="https://www.facebook.com/andr3yg/" class="link-icon link-icon--single" target="_blank"
                aria-label="Contactar por medio de Facebook">
                <i class="fab fa-facebook social-media-icon social-media-icon--single"></i>
            </a>
        
            <a href="https://t.me/andr3yg" class="link-icon link-icon--single" target="_blank" aria-label="Contactar por medio de Telegram">
                <i class="fab fa-telegram social-media-icon social-media-icon--single"></i>
            </a>
        </div>
    </article>

</footer>