<header class="header-main">
    <nav class="nav-header">
        <ul class="ul-nav">

            <li class="list-item"><a href="{% url 'main_home' %}" aria-label="Ir al apartado de proyectos"
                    class="link-item">Inicio</a></li>
            <li class="list-item"><a href="#footer-main" aria-label="Ir al apartado de aprendizaje"
                    class="link-item">Contacto</a></li>
            <li class="list-item"><a href="{% url 'blog_home' %}" aria-label="Ir al blog"
                    class="link-item">Blog</a></li>
        </ul>
    </nav>
</header>