<header class="header-main">
    <nav class="nav-header">
        <ul class="ul-nav ul-nav-details">

            <li class="list-item"><a href="{% url 'main_home' %}" aria-label="Ir al apartado de proyectos"
                    class="link-item">Inicio</a></li>
            <li class="list-item"><a href="#footer-single" aria-label="Ir al apartado de contacto"
                    class="link-item">Contacto</a></li>
            <li class="list-item"><a href="{% url 'home' %}" aria-label="Ir al blog"
                    class="link-item">Blog</a></li>
        </ul>
    </nav>
</header>